<style type="text/css">
.newsletter input[type="text"]{
  outline:none;
  border:1px solid #999;
  background:rgba(0, 0, 0, 0.36);
  color:#999;
  padding:10px;
  font-size:14px;
  width:100%;
}
</style>
<!-- nav -->
<!-- //nav -->
<!-- logo -->

<!-- //logo -->
<!-- banner -->
  <div class="banner">
<!-- newsletter -->
  <div class="newsletter">
    <div class="container">
      <h3 class="agileits_head">Cari tujuan dan pengalaman unik di seluruh penjuru aceh disini.<div style="margin:10px;" ><i class="fa fa-search" aria-hidden="true"></i></div></h3>
      <form action="#" method="post">
        <input type="text" name="email" placeholder="Coba cari 'kopi ulee kareng' " required="">
        <br><br>
      </form>
    </div>
  </div>
<!-- //newsletter -->
  </div>
<!-- //banner -->
<!-- banner-bottom -->
  <div class="banner-bottom">
    <div class="container">
      <h3>Tempat Wisata Terfavorit</h3>
    </div>
    <ul id="flexiselDemo1">
      <li>
        <div class="w3layouts_banner_bottom_left">
          <img src="assets/frontend/images/1.jpg" alt=" " class="img-responsive" />
          <h4>Dessert --- <span>$5</span></h4>
          <p>Morbi eu justo suscipit.</p>
        </div>
      </li>
      <li>
        <div class="w3layouts_banner_bottom_left">
          <img src="assets/frontend/images/2.jpg" alt=" " class="img-responsive" />
          <h4>Burger Cheese --- <span>$6</span></h4>
          <p>Morbi eu justo suscipit.</p>
        </div>
      </li>
      <li>
        <div class="w3layouts_banner_bottom_left">
          <img src="assets/frontend/images/3.jpg" alt=" " class="img-responsive" />
          <h4>Pasta --- <span>$3</span></h4>
          <p>Morbi eu justo suscipit.</p>
        </div>
      </li>
      <li>
        <div class="w3layouts_banner_bottom_left">
          <img src="assets/frontend/images/4.jpg" alt=" " class="img-responsive" />
          <h4>Western Cuisine --- <span>$8</span></h4>
          <p>Morbi eu justo suscipit.</p>
        </div>
      </li>
      <li>
        <div class="w3layouts_banner_bottom_left">
          <img src="assets/frontend/images/5.jpg" alt=" " class="img-responsive" />
          <h4>Asian Cuisine --- <span>$3</span></h4>
          <p>Morbi eu justo suscipit.</p>
        </div>
      </li>
    </ul>
    <script type="text/javascript">
      $(window).load(function() {
        $("#flexiselDemo1").flexisel({
          visibleItems: 4,
          animationSpeed: 1000,
          autoPlay: true,
          autoPlaySpeed: 3000,
          pauseOnHover: true,
          enableResponsiveBreakpoints: true,
          responsiveBreakpoints: {
            portrait: {
              changePoint:480,
              visibleItems: 2
            },
            landscape: {
              changePoint:640,
              visibleItems:3
            },
            tablet: {
              changePoint:768,
              visibleItems: 4
            }
          }
        });

      });
    </script>
    <script type="text/javascript" src="assets/frontend/js/jquery.flexisel.js"></script>
  </div>
<!-- //banner-bottom -->
  <div class="countdown">
    <div class="container">
      <div class="agileits_stats_grids">
        <div class="agileinfo_stats_grid">
          <p class="counter">654</p>
          <h3>Customers Served</h3>
        </div>
        <div class="agileinfo_stats_grid">
          <p class="counter">83</p>
          <h3>Dishes</h3>
        </div>
        <div class="agileinfo_stats_grid">
          <p class="counter">36</p>
          <h3>Awards</h3>
        </div>
        <div class="agileinfo_stats_grid">
          <p class="counter">15</p>
          <h3>Years of Experience</h3>
        </div>
        <div class="clearfix"> </div>
      </div>
      <!-- Stats-Number-Scroller-Animation-JavaScript -->
        <script src="assets/frontend/js/waypoints.min.js"></script>
        <script src="assets/frontend/js/counterup.min.js"></script>
        <script>
          jQuery(document).ready(function( $ ) {
            $('.counter').counterUp({
              delay: 10,
              time: 1000
            });
          });
        </script>
      <!-- //Stats-Number-Scroller-Animation-JavaScript -->
    </div>
  </div>
  <div class="menu">
    <div class="container">
            <h3 class="agileits_head w3_agileits_head">Lihat Pengalaman Mereka<i class="fa fa-users" aria-hidden="true"></i></h3>
            <div class="w3_agileits_team_grids">
                <div class="agile_team_grid">
                    <img src="assets/frontend/images/21.jpg" alt=" " class="img-responsive" />
                    <h4>Mark Lii</h4>
                    <h5>Head Chef</h5>
                    <ul class="wthree_social_icons">
                        <li><a href="#" class="w3_agileits_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="w3_agileits_google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="w3_agileits_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="agile_team_grid">
                    <img src="assets/frontend/images/22.jpg" alt=" " class="img-responsive" />
                    <h4>Ruthord Paul</h4>
                    <h5>Chef</h5>
                    <ul class="wthree_social_icons">
                        <li><a href="#" class="w3_agileits_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="w3_agileits_google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="w3_agileits_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="agile_team_grid">
                    <img src="assets/frontend/images/23.jpg" alt=" " class="img-responsive" />
                    <h4>Henry Doe</h4>
                    <h5>Chef</h5>
                    <ul class="wthree_social_icons">
                        <li><a href="#" class="w3_agileits_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="w3_agileits_google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="w3_agileits_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="agile_team_grid">
                    <img src="assets/frontend/images/24.jpg" alt=" " class="img-responsive" />
                    <h4>Willium Mark</h4>
                    <h5>Chef</h5>
                    <ul class="wthree_social_icons">
                        <li><a href="#" class="w3_agileits_facebook"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="w3_agileits_google"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
                        <li><a href="#" class="w3_agileits_twitter"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
</div>

<!-- delicious-food -->
  <div class="delicious_food">
    <div class="container">
      <h3 class="agileits_head w3_agileits_head">Tempat Wisata di Seluruh Aceh<i class="fa fa-gratipay" aria-hidden="true"></i></h3>
      <div class="agile_delicious_food_grids">
        <div class="agile_delicious_food_grid">
          <a class="sb" href="assets/frontend/images/7.jpg" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate.">
            <div class="view view-sixth">
              <img src="assets/frontend/images/7.jpg" alt=" " class="img-responsive" />
              <div class="mask">
                <h4>WisataOne</h4>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="agile_delicious_food_grid">
          <a class="sb" href="assets/frontend/images/8.jpg" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate.">
            <div class="view view-sixth">
              <img src="assets/frontend/images/8.jpg" alt=" " class="img-responsive" />
              <div class="mask">
                <h4>WisataOne</h4>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="agile_delicious_food_grid">
          <a class="sb" href="assets/frontend/images/9.jpg" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate.">
            <div class="view view-sixth">
              <img src="assets/frontend/images/9.jpg" alt=" " class="img-responsive" />
              <div class="mask">
                <h4>WisataOne</h4>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="agile_delicious_food_grid">
          <a class="sb" href="assets/frontend/images/10.jpg" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate.">
            <div class="view view-sixth">
              <img src="assets/frontend/images/10.jpg" alt=" " class="img-responsive" />
              <div class="mask">
                <h4>WisataOne</h4>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="agile_delicious_food_grid">
          <a class="sb" href="assets/frontend/images/11.jpg" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate.">
            <div class="view view-sixth">
              <img src="assets/frontend/images/11.jpg" alt=" " class="img-responsive" />
              <div class="mask">
                <h4>WisataOne</h4>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="agile_delicious_food_grid">
          <a class="sb" href="assets/frontend/images/12.jpg" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate.">
            <div class="view view-sixth">
              <img src="assets/frontend/images/12.jpg" alt=" " class="img-responsive" />
              <div class="mask">
                <h4>WisataOne</h4>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="agile_delicious_food_grid">
          <a class="sb" href="assets/frontend/images/13.jpg" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate.">
            <div class="view view-sixth">
              <img src="assets/frontend/images/13.jpg" alt=" " class="img-responsive" />
              <div class="mask">
                <h4>WisataOne</h4>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="agile_delicious_food_grid">
          <a class="sb" href="assets/frontend/images/14.jpg" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate.">
            <div class="view view-sixth">
              <img src="assets/frontend/images/14.jpg" alt=" " class="img-responsive" />
              <div class="mask">
                <h4>WisataOne</h4>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="agile_delicious_food_grid">
          <a class="sb" href="assets/frontend/images/15.jpg" title="quis nostrud exercitation ullamco laboris quis autem vel eum iure reprehenderit qui in ea voluptate.">
            <div class="view view-sixth">
              <img src="assets/frontend/images/15.jpg" alt=" " class="img-responsive" />
              <div class="mask">
                <h4>WisataOne</h4>
                <p>Vestibulum ante ipsum primis in faucibus orci luctus.</p>
              </div>
            </div>
          </a>
        </div>
        <div class="clearfix"> </div>
      </div>
    </div>
  </div>

  <script type="text/javascript" src="assets/frontend/js/smoothbox.jquery2.js"></script>
  <!-- //delicious-food -->

  